.upload {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.upload input {
  display: none;
}
.upload label {
  background-color: #000;
  padding: 10px;
  color: #fefefe;
  width: 100px;
  text-align: center;
}
.upload p {
  margin-left: 10px;
}
